.content {
  margin-top: 120px;
}
.field_input {
  box-shadow: 0 0 0 1px #d9d9d9;
  transition: all 0.2s ease-out;
  background-color: white;
  color: #333333;
  border-radius: 4px;
  border: none;
  outline: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.94em 2.8em 0.94em 0.8em;
}
.amountBooking {
  box-shadow: 0 0 0 1px #d9d9d9;
  background-color: white;
  color: #333333;
  border: none;
  width: 50px;
  outline: none;
  padding: 7px 5px;
}
.date_input {
  width: 120px;
  box-shadow: 0 0 0 1px #d9d9d9;
  background-color: white;
  color: #333333;
  border: none;
  outline: none;
}
.amountBookingBtn {
  box-shadow: 0 0 0 1px #d9d9d9;
  background-color: #dfdfdf;
  color: #000;
  border: none;
  font-size: 20px;
  outline: none;
  padding: 7px 10px;
}
.field_input:focus {
  box-shadow: 0 0 0 2px #338dbc;
  outline: none;
}
.icon_amount_product {
  padding: 0.15em 0.65em;
  border-radius: 2em;
  background-color: rgba(153, 153, 153, 0.9);
  color: #fff;
  position: absolute;
  right: 0.25em;
  top: 0.25em;
  z-index: 2;
  font-size: small;
  font-weight: 600;
}
.payment_btn {
  padding: 8px 15px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #000;
}
.payment_btn:hover {
  background-color: transparent;
  color: #000;
}
