.navbar {
  height: 90px;
  background-color: transparent;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
  margin-bottom: 90px;
}
.menu_navbar {
  font-size: 16px;
  font-weight: 600;
}
.navigator {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.navigator:hover {
  color: brown;
}
.author_account {
  padding: 3px 5px;
}
.author_account:hover {
  background-color: #000;
}
.border_author {
  border-bottom: 1px solid #d2d2d2;
  padding: 3px 5px 5px 3px;
}
